* {
  box-sizing: border-box;
  font-family: OpenSans, Arial, 'sans-serif';
}

body {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625rem;
  background-color: #fff;
  letter-spacing: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%; 
  display: block;
  margin: 10px; 
}

.input-group {
  width: 470px;
  padding-bottom: 1.5rem;
  display: block;
}

.svj-field, .schades-field, .premie-field {
  width: 470px;
  margin-bottom: 10px;
}

.svj-field-input, .schades-field-input, .premie-field-input {
  width: 100%;
  height: 56px;
  font-size: 1.2rem;
  padding: 1px 32px 1px 16px;
}

.svj-field-input::-webkit-inner-spin-button,
.schades-field-input::-webkit-inner-spin-button,
.premie-field-input::-webkit-inner-spin-button {
  appearance: none;
}

.korting {
  font-weight: bold;
}

.output-group {
  width: 800px;
  padding-bottom: 1.5rem;
  display: block;
}
